<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <!--Anything you want-->
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">DAB</strong> Developed by <a href="http://www.bezhoe.com/" target="_BLANK">BeDeal</a>
  </footer>