<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>

        <li <?php if($page == "home") echo 'class="active treeview"'; else echo 'class="treeview"'; ?>>
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <?php if($pagetree == "home") echo 'class="active"'; ?>><a href="dashboard.php"><i class="fa fa-circle-o"></i> Home Slider</a></li>
            <li <?php if($pagetree == "homecontent") echo 'class="active"'; ?>><a href="home-content.php"><i class="fa fa-circle-o"></i> Home Content</a></li>
          </ul>
        </li>
		
        <li <?php if($page == "about") echo 'class="active"'; ?>><a href="about-us.php"><i class="fa fa-fw fa-file-text-o"></i> <span>About Us</span></a></li>
		
		<li <?php if($page == "prd") echo 'class="active treeview"'; else echo 'class="treeview"'; ?>>
          <a href="#">
            <i class="fa fa-fw fa-file-text-o"></i> <span>Product</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <?php if($pagetree == "prdcategory") echo 'class="active"'; ?>><a href="prd-category.php"><i class="fa fa-circle-o"></i> Product Category</a></li>
            <li <?php if($pagetree == "prdsubcontent") echo 'class="active"'; ?>><a href="prd-subcontent.php"><i class="fa fa-circle-o"></i> Product Content</a></li>
            <li <?php if($pagetree == "prddocument") echo 'class="active"'; ?>><a href="prd-document.php"><i class="fa fa-circle-o"></i> Product Document</a></li>
          </ul>
        </li>
		
		<li <?php if($page == "news") echo 'class="active"'; ?>><a href="news.php"><i class="fa fa-fw fa-newspaper-o"></i> <span>News</span></a></li>
		
		<!--<li <?php if($page == "contact") echo 'class="active"'; ?>><a href="contact.php"><i class="fa fa-phone"></i> <span>Contact</span></a></li>-->
		
		<li <?php if($page == "account") echo 'class="active"'; ?>><a href="account.php"><i class="fa fa-user"></i> <span>My Account</span></a></li>
		
      </ul>
	</section>
 </aside>